@font-face {
    font-family: 'AdventPro-Light';
    src: url('../assets/fonts/advent-pro/AdventPro-Light.ttf');
}

@font-face {
    font-family: 'Mono-space';
    src: url('../assets/fonts/space-mono/SpaceMono-Regular.ttf');
}

body {
    background-color: #EEE;
    color: #161616;
    padding: 0 50px;
}

h1 {
    font-family: 'AdventPro-Light';
}

h2 {
    font-family: 'font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;'
}

h3 {
    font-family: 'Mono-space';
}


@media screen and (max-width: 959px) {

}
@media screen and (max-width: 480px) {
	body {
        padding: 0 16px;
    }
}