
footer {
    /* position: absolute; */
    right: 0;
    left: 0;
    bottom: 0;
    /* display: none; */
}

.copyright {
    font-family: 'Mono-space';
    text-align: center;
    font-size: 12px;
    mix-blend-mode: difference;
    color: white;
}